.markdown-body table {
  display: table !important;
} 
.markdown-body table td,
.markdown-body table th {
  text-align: left !important;
  vertical-align: top !important;
} 
.markdown-body video {
  margin-bottom: 10px;
}
